* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-image: url("https://www.thedrive.com/uploads/2022/12/13/22C0387_051.jpg?auto=webp");
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.left_link {
    display: flex;
    align-items: center;
}

.left_link ul,
.right_link ul {
    display: flex;
}

ul li {
    list-style: none;
    color: white;
}

a {
    color: rgb(137, 138, 139);
    font-size: 14px;
    text-decoration: none;
}

.left_link ul li {
    margin: 0px 5px;
}

.left_link .privacy {
    margin-left: 40px;
}

.div_logo img {
    width: 50px;
}

.right_links ul li {
    margin: 0 20px;
}

.header_menu {
    background-color: rgb(46, 42, 42);
}

.header_menu ul {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header_menu ul li {
    margin: 0 13px;
}

.right_link ul li {
    margin: 0 20px;
}

.menu {
    background-color: rgb(29, 27, 27);
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu ul li {
    margin: 0 14px;
}
.box{
    width: 450px;
    margin: 200px 100px;
}
.box h1{
    color: rgb(226, 218, 218);
    font-size: 37px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: white;
    margin: 15px 0px;
}
button{
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}